<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset=utf-8>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="main.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <div ng-controller="SimpleArrayCtrl">
        <div class="row">
          <div class="col-md-6">
            <h4>Select the class</h4>
            <div class="form-group">
              <label ng-repeat="className in classes" class="checkbox-inline">
                <input type="checkbox" name="selectedClasses[]" value="{{className}}" ng-checked="selection.indexOf(className) > -1" ng-click="toggleSelection(className)"> {{className}}
              </label>
            </div>
          </div>

          <div class="col-md-6">
            <p><strong>Toggling</strong> by name is easy in this case, because the needed helper method can be reused.</p>
            <button class="btn btn-default" ng-click="toggleSelection('Chemistry')">Toggle <em>Chemistry</em></button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>selection</h4>
            <pre>{{selection|json}}</pre>
          </div>

          <div class="col-md-6">
            <h4>input</h4>
            <pre>{{classes|json}}</pre>
          </div>
        </div>
      </div>

      <hr>

      <div ng-controller="ObjectArrayCtrl">
        <h3>With an object array as input data</h3>

        <dl>
          <dt>Pros</dt>
          <dd>add/remove is very easy</dd>

          <dt>Cons</dt>
          <dd>somewhat more complex data structure and toggling by name is cumbersome or requires a helper method</dd>
        </dl>

        <div class="row">
          <div class="col-md-6">
            <h4>selectables</h4>
            <div class="form-group">
              <label ng-repeat="class in classes" class="checkbox-inline">
                <!--
                  - use `value="{{class.name}}"` to give the input a real value, in case the form gets submitted
                    traditionally

                  - use `ng-checked="class.selected"` to have the checkbox checked based on some angular expression
                    (no two-way-data-binding)

                  - use `ng-model="class.selected"` to utilize two-way-data-binding. Note that `.selected`
                    is arbitrary. The property name could be anything and will be created on the object if not present.
                -->
                <input type="checkbox" name="selectedClasses[]" value="{{className}}" ng-model="class.selected"> {{class.name}}
              </label>
            </div>
          </div>

          <div class="col-md-6">
            <p><strong>Toggling</strong> by name is not so easy in this case, because the the code is either rather ugly, or a helper method is needed.</p>
            <button class="btn btn-default" ng-click="(classes|filter:{name:'Chemistry'})[0].selected = !(classes|filter:{name:'Chemistry'})[0].selected">Toggle <em>Chemistry</em></button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>selection as simple array using $watch</h4>
            <pre>{{selection|json}}</pre>

            <h4>selection as simple array using a custom filter</h4>
            <pre>{{classes|classSelection:'name'|json}}</pre>

            <h4>selection using the default filter</h4>
            <pre>{{classes|filter:{selected:true}|json}}</pre>

            <h4>selection using a helper function</h4>
            <pre>{{selectedClasses()|json}}</pre>
          </div>

          <div class="col-md-6">
            <h4>input</h4>
            <pre>{{classes|json}}</pre>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
